.summons-item-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 400px;
  overflow-y: auto;
}

.summon-token-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  img {
    width: 50px;
    height: 50px;
  }

  span {
    flex: 1;
  }
}
